<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <!-- Specifies whether EventReporter logs fatal errors in the Windows event log (0-disable, 1-enable, default=1) -->
    <logFatalError enabled="0" />
  </runtime>
</configuration>
