<main class="pt-3">
  <div class="container">
    <div class="form-row align-items-center">
      <div class="col-auto">
        <label class="" for="inlineFormInputGroup">Valor do Piso:</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">R$</div>
          </div>
          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="0,00">
        </div>
      </div>
      <div class="col-auto">
        <label class="" for="inlineFormInputGroup">Valor do Teto:</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">R$</div>
          </div>
          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="0,00">
        </div>
      </div>
      <div class="col-auto">
        <label class="" for="inlineFormInputGroup">Valor da taxa:</label>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">%</div>
          </div>
          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="0,00">
        </div>
      </div>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
      </div>
    </div>
    
  </div>
</main>